https://{$DAYTONA_PUBLIC_HOST}:{$DAYTONA_API_PORT} {
	tls internal
	reverse_proxy api:3000
}

https://{$DAYTONA_PUBLIC_HOST}:{$DAYTONA_PROXY_PORT} {
	tls internal
	reverse_proxy proxy:4000
}

https://{$DAYTONA_PUBLIC_HOST}:{$DAYTONA_DEX_PORT} {
	tls internal
	reverse_proxy dex:5556
}
