# PDF
pypdf==6.14.2
fpdf2
pdfplumber
pikepdf
pymupdf
reportlab
roman
rst2pdf
weasyprint
numpy==2.3.5

# Excel 与表格
formulas
msoffcrypto-tool
odfpy
openpyxl
python-calamine
pyxlsb
xlrd
xlsx2csv
xlsxwriter

# Word、HTML 与格式转换
beautifulsoup4
cssselect
cssutils
docx2txt
docx2python
docxcompose
docxtpl
docutils
ebooklib
html5lib
html2text
jinja2
lxml==6.1.1
mammoth
markdown
mdit-py-plugins
premailer
pypandoc==1.17
python-docx
python-magic
python-pptx
readability-lxml
selectolax
xmldiff
xmlschema

# SVG 生成、解析与转换
cairosvg
picosvg
scour
svglib
svgpathtools
svgwrite
